/* Fonts */
@font-face{
    font-family: 'borda';
    src:url('./fonts/borda_medium.ttf');
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
html{
    background-color: black;
    }
#newEventSection{
    border:solid 3px rgb(255, 102, 0);
    width:30%;
    position :absolute;
    height:50%;
    padding:0.5%;
    font-family: 'borda';
}
input{
    margin-bottom:3%;
    font-family: 'borda';
}
#newEventTitle{
    width:95%;
    font-family: 'borda';
    margin-left:2.0%;
    background-color:rgba(47, 47, 47, 0.3);
    border:solid 3px rgb(255, 102, 0);
    color:whitesmoke;
    font-size:2rem;

}
#newEventStart{
    margin-left:5%;
    margin-right: 5%;
    width:25%;
    font-family: 'borda';
    background-color:rgba(47, 47, 47, 0.3);
    border:solid 3px rgb(255, 102, 0);
    color:whitesmoke;
    font-size:2rem;

}
#newEventEnd{
    width:25%;
    font-family: 'borda';
    background-color:rgba(47, 47, 47, 0.3);
    border:solid 3px rgb(255, 102, 0);
    color:whitesmoke;
    font-size:2rem;

}
#newEventDate{
    width:25%;
    margin-left:5%;
    font-family: 'borda';
    background-color:rgba(47, 47, 47, 0.3);
    border:solid 3px rgb(255, 102, 0);
    color:whitesmoke;
    font-size:2rem;
  
}
#newEventChronos{
    align-content: center;
    font-family: 'borda';
    
}
#timeline{
    width:65%;
    position:absolute;
    height: 95%;
    border:solid 3px rgb(255, 102, 0);
    right:1%;
    font-family: 'borda';
    background-color:rgba(47, 47, 47, 0.3);
    

}
#newEventLocation{
    width:95%;
    font-family: 'borda';
    margin-left:2.0%;
    background-color:rgba(47, 47, 47, 0.3);
    border:solid 3px rgb(255, 102, 0);
    color:whitesmoke;
    font-size:2rem;
}
button{
    font-family: 'borda';
    border: 2px rgb(255, 102, 0) solid;
    background-color:transparent;
    color:white;
    font-size:2rem;

}
textarea{
    resize: none;
    background-color:rgba(47, 47, 47, 0.3);
    color:whitesmoke;
    border:solid 3px rgb(255, 102, 0);
    width:98%;
    font-size:2rem;


}
#logo{
    position:absolute;
    bottom: 0%;
    width:25%;
    left:3%;
}
thead{
    border:solid white 2px;
    color:rgb(255, 102, 0);
    width:100%;
}
th{
    border: solid white 2px;
    width:20%;
    text-align:center;
    font-size:3rem
}
td{
    border: solid white 2px;
    width:20%;
    text-align:center;
    font-size:2rem;
    color:rgb(255, 102, 0);
}
table{
    width:100%;
}
#leave{
    display: none;
    color:transparent;
    visibility: hidden;
}
iframe{
    display: none;
    visibility: hidden;
}